/*
=====================================================================
*   Search Stylesheet
*   Google rebuild project
*   Frederick Coleman January 2018.
=====================================================================*/


li {
  list-style-type: none;
}

.line-break {
  border-top: 1px solid #EBEBEB;
  margin-top: 80px;
}

.logo {
  height: 30px;
  width: auto;
}

.main-body {
  padding-right: 600px;
}

.nav-two {
  padding-left: 100px;
  padding-right: 50px;
}

.result-url {
  color: #006621;
}

.result-date {
  color: #808080;
}

.related-searches-head {
  color: #808080
}

.search-bar {
  width: 500px;
}

.footer-image {
  margin-left: auto;
  margin-right: auto;
}

