/*
=====================================================================
*   Default Stylesheet
*   odin project: Google homepage rebuild
*   Frederick Coleman January 2018.
=====================================================================



/* Style the search box inside the navigation bar */
.search input[type=text] {
    float: right;
    padding: 6px;
    border: 1px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

nav {
    background - color: #333333;
    height: 30px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    text-decoration: none;
    font-family: arial;
    color: # ABABAB;
    float: left;
    padding: 5px;
    font - size: 13px;
    font - weight: 600;
    margin - top: 2px;
    margin - right: 13px;
}

img {
    width: 280px;
    margin: 195px auto 0 auto;
    display: block;
}

input {
    width: 550px;
    height: 25px;
    border: 1px solid #3492F7;
    margin: 20px auto;
    display: block;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .search input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .search input[type=text] {
        border: 1px solid #ccc;
    }
}

.center {
    margin: auto;
    width: 50%;
}

.footer {
    position: absolute;
    bottom: 0;
    font - family: verdana;
}